html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to bottom, rgb(219, 161, 255), rgb(173, 173, 255), rgb(255, 231, 143),  rgb(173, 173, 255), rgb(219, 161, 255));
    background-image: url("image.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}